Sahil Gulihar

<div></div>
I use Arch BTW
<div>Projects</div>
1. PDF Related:
<li>
    Pdf To AudioBook
</li>
<li>
    Pdf summarization AI
</li>
<div>
    2. CLI TOOLS

    <li>
        Youtube CLI integration
    </li>
    <li>
        Terminal Anime
    </li>
    <li>
        Diagofetch
    </li>
    <li>
        Node Deleter
    </li>
    <li>
        Vite Utility
    </li>

</div>
<div>
    3. Voice Assistant
    
</div>
<div>
    4. Image Website
</div>

<a href="https://github.com/Sahil-Gulihar">LAWde</a>